
.SingleItem {
  text-align: center;
  margin: 30px 0;
  cursor: pointer;
}
.Item {
  padding: 20px 0;
}
.Icon {
  color: rgba(255, 255, 255, 0.2);
}
.Text {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
