.AddEventForm {
  .TextArea {
    margin-bottom: 15px;
  }
  .DialogContent:first-child {
    padding-top: 0;
  }
  .DialogActions {
    justify-content: space-between;
    padding: 0 16px 24px 24px;
  }

  .ImageUploadBtn {
    margin-right: auto;

    .ImageUploadIcon {
      margin-left: 8px;
    }
  }
}
