.SingleItem {
  text-align: center;
  cursor: pointer;
  border-width: 3px 2px 2px 3px;
  border-style: solid;
  padding: 2rem;
}
.Icon {
  color: #666;
  svg {
    font-size: 4rem;
  }
}
.Text {
  color: #666;
  font-size: 1.5rem;
  margin-top: 15px;
}